*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 100vh;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(bgcf.jpg);
}
.container{
	width: 100%;
	padding: 35px 10%;
}
.container{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	font-family: helvetica;
	color: #ffffff;
	padding: 30px 200px 30px 30px;
	background-color: #000000;
}
.col .contents{
	padding: 20px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #000000;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #0c0c0c;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #444;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}

/* Black and white theme */
/* Black and white theme for both buttons */
.morebtn {
    font: helvatica;
    display: relative;
    padding: 10px 20px;
    color: rgb(255, 254, 254);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

.morebtn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Specific styles for each button */
.hobbies {
    margin-bottom: 1000px;
    margin-left: 200px;
}

.education {
    margin-bottom: 100px;
    margin-top: -500px;
}


@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}
